@import "../color/index.scss";
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-family:'Lato-Bold',
'Avenir',
Helvetica,
Arial,
sans-serif;
$font-family-Lato:'Lato';
$font-family-PingFangSC:'PingFangSC';

$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items