$blue-6: #1890ff;
$purple-6: #722ed1;
$cyan-6: #13c2c2;
$green-6: #52c41a;
$magenta-6: #eb2f96;
$red-6: #f5222d;
$orange-6: #fa8c16;
$yellow-6: #fadb14;
$geekblue-6: #2f54eb;
$lime-6: #a0d911;
$gold-6: #faad14;
$white:#fff;
$white-f5:#F5F6FA;
$black-3:#333333;
$black-6:#666666;
$bg-layout:#0d1a2d;
$bg-1:#0F2635;
$bg-selected:#478BCA;
$bg-f8:#f8f8f9;
